:root {
  --black: 0 0 0;
  --white: 255 255 255;

  --malibu-50: 240 250 255;
  --malibu-100: 224 243 254;
  --malibu-200: 186 233 253;
  --malibu-300: 91 206 250;
  --malibu-400: 57 197 247;
  --malibu-500: 16 174 231;
  --malibu-600: 3 141 198;
  --malibu-700: 4 112 160;
  --malibu-800: 8 95 132;
  --malibu-900: 13 78 109;
  --malibu-950: 8 50 73;

  --eggplant-50: 249 246 248;
  --eggplant-100: 245 238 243;
  --eggplant-200: 237 221 232;
  --eggplant-300: 223 194 214;
  --eggplant-400: 202 156 187;
  --eggplant-500: 183 125 163;
  --eggplant-600: 161 97 135;
  --eggplant-700: 136 78 111;
  --eggplant-800: 114 66 92;
  --eggplant-900: 92 56 76;
  --eggplant-950: 56 31 45;

  --gray-50: 249 250 251;
  --gray-100: 243 244 246;
  --gray-200: 229 231 235;
  --gray-300: 209 213 219;
  --gray-400: 126 133 146;
  --gray-500: 107 114 128;
  --gray-600: 85 90 101;
  --gray-700: 73 76 85;
  --gray-800: 64 66 74;
  --gray-900: 17 24 39;
  --gray-950: 3 7 18;

  --slate-50: 244 246 247;
  --slate-100: 226 230 235;
  --slate-200: 201 207 216;
  --slate-300: 163 174 189;
  --slate-400: 118 133 154;
  --slate-500: 100 116 139;
  --slate-600: 78 89 108;
  --slate-700: 68 75 90;
  --slate-800: 61 66 77;
  --slate-900: 54 58 67;
  --slate-950: 33 36 43;

  --red-50: 254 242 242;
  --red-100: 254 226 226;
  --red-200: 254 202 202;
  --red-300: 252 165 165;
  --red-400: 248 113 113;
  --red-500: 239 68 68;
  --red-600: 220 38 38;
  --red-700: 185 28 28;
  --red-800: 153 27 27;
  --red-900: 127 29 29;
  --red-950: 69 10 10;

  --lavender-50: 248 247 251;
  --lavender-100: 242 240 247;
  --lavender-200: 231 227 241;
  --lavender-300: 212 205 229;
  --lavender-400: 188 175 214;
  --lavender-500: 164 142 196;
  --lavender-600: 150 123 182;
  --lavender-700: 127 98 159;
  --lavender-800: 107 82 133;
  --lavender-900: 89 68 110;
  --lavender-950: 57 44 73;
}
