@tailwind base;
@tailwind components;
@tailwind utilities;

// Primary colors are for text, accent colors are for other colors

:root {
  --tw-bg-opacity: 1;
  --background: theme(colors.gray.50 / var(--tw-bg-opacity));
  --background-secondary: theme(colors.gray.100 / var(--tw-bg-opacity));

  --primary-dark: theme(colors.gray.900);
  --primary-medium: theme(colors.gray.700);
  --primary-light: theme(colors.gray.400);

  --accent-dark: theme(colors.blue.500);
  --accent-medium: theme(colors.blue.400);
  --accent-light: theme(colors.blue.300);
  --error: theme(colors.red.600);
  --disabled: theme(colors.slate.500);
}

[data-theme="dark"] {
  --background: theme(colors.gray.900 / var(--tw-bg-opacity));
  --background-secondary: theme(colors.gray.700 / var(--tw-bg-opacity));

  --primary-dark: theme(colors.gray.300);
  --primary-medium: theme(colors.gray.200);
  --primary-light: theme(colors.gray.100);

  --accent-dark: theme(colors.blue.300);
  --accent-medium: theme(colors.blue.800);
  --accent-light: theme(colors.blue.950);

  --error: theme(colors.red.300);

  --disabled: theme(colors.slate.300);
}

[data-theme="lavender"] {
  --background: theme(colors.lavender.300 / var(--tw-bg-opacity));
  --background-secondary: theme(colors.lavender.500 / var(--tw-bg-opacity));

  --primary-dark: theme(colors.gray.900);
  --primary-medium: theme(colors.gray.800);
  --primary-light: theme(colors.gray.700);

  --accent-dark: theme(colors.eggplant.950);
  --accent-medium: theme(colors.eggplant.900);
  --accent-light: theme(colors.eggplant.800);

  --error: theme(colors.black);

  --disabled: theme(colors.slate.500);
}

[data-theme="fancy"] {
  --primary: 176, 11, 105;
  --secondary: 66, 6, 144;
  --background-gradient: linear-gradient(
    to bottom,
    rgb(var(--primary)),
    rgb(var(--secondary))
  );
  --background-gradient-reversed: linear-gradient(
    to bottom,
    rgb(var(--secondary)),
    rgb(var(--primary))
  );
  --background: rgb(var(--primary), var(--tw-bg-opacity));
  --background-secondary: transparent;

  --primary-dark: theme(colors.gray.300);
  --primary-medium: theme(colors.gray.200);
  --primary-light: theme(colors.gray.100);

  --accent-dark: theme(colors.blue.300);
  --accent-medium: theme(colors.blue.400);
  --accent-light: theme(colors.blue.950);
  --error: theme(colors.white);
  --disabled: theme(colors.slate.300);
}

@mixin disabled {
  pointer-events: none !important;
  border-color: var(--disabled) !important;
  color: var(--disabled) !important;
}

@layer utilities {
  .disabled {
    // pointer-events: none !important;
    // border-color: theme("colors.slate.300") !important;
    // color: theme("colors.slate.300") !important;
    @include disabled;
  }
}
body {
  @apply min-h-screen overflow-hidden  bg-th-background bg-th-background-gradient;

  *:is(input, label, button)[disabled] {
    @include disabled;
  }
}
