@use "./colors";
@tailwind base;
@tailwind components;
@tailwind utilities;
// Primary colors are for text, accent colors are for other colors

:root {
  --tw-bg-opacity: 1;
  --background: var(--gray-50);
  --background-secondary: var(--gray-200);

  --primary-dark: var(--gray-900);
  --primary-medium: var(--gray-700);
  --primary-light: var(--gray-400);

  --accent-dark: var(--malibu-500);
  --accent-medium: var(--malibu-400);
  --accent-light: var(--malibu-300);

  --error: var(--red-600);
  --disabled: var(--slate-500);
}

[data-theme="dark"] {
  --background: var(--gray-900);
  --background-secondary: var(--gray-700);

  --primary-dark: var(--gray-300);
  --primary-medium: var(--gray-200);
  --primary-light: var(--gray-100);

  --accent-dark: var(--malibu-300);
  --accent-medium: var(--malibu-500);
  --accent-light: var(--malibu-950);

  --error: var(--red-300);

  --disabled: var(--slate-300);
}

[data-theme="lavender"] {
  --background: var(--lavender-500);
  --background-secondary: var(--lavender-700);

  --primary-dark: var(--gray-900);
  --primary-medium: var(--gray-800);
  --primary-light: var(--gray-700);

  --accent-dark: var(--eggplant-950);
  --accent-medium: var(--eggplant-900);
  --accent-light: var(--eggplant-800);

  --error: var(--black);

  --disabled: var(--slate-500);
}

[data-theme="fancy"] {
  --primary: 176 11 105;
  --secondary: 66 6 144;
  --background-gradient: linear-gradient(
    to bottom,
    rgb(var(--primary)),
    rgb(var(--secondary))
  );
  --background-gradient-reversed: linear-gradient(
    to bottom,
    rgb(var(--secondary)),
    rgb(var(--primary))
  );
  --background: var(--primary);
  --background-secondary: var(--secondary);

  --primary-dark: var(--gray-300);
  --primary-medium: var(--gray-200);
  --primary-light: var(--gray-100);

  --accent-dark: var(--malibu-300);
  --accent-medium: var(--malibu-400);
  --accent-light: var(--malibu-950);
  --error: var(--white);
  --disabled: var(--slate-300);
}

@mixin disabled {
  pointer-events: none !important;
  border-color: var(--disabled) !important;
  color: var(--disabled) !important;
}

@layer utilities {
  .disabled {
    // pointer-events: none !important;
    // border-color: theme("colors.slate.300") !important;
    // color: theme("colors.slate.300") !important;
    @include disabled;
  }
}
body {
  @apply min-h-screen overflow-hidden  bg-th-background bg-th-background-gradient;

  *:is(input, label, button)[disabled] {
    @include disabled;
  }
}
